button {
    width: 200px;
    margin-left:3.5em;
    color: white;
    font-size: 26px;
    cursor: pointer;
    padding: 2em;
    border: none;
    background-color: #000000d0;
    border-radius: 20px;
    
}


h2{
    text-align: center;
}

h1{
    text-align: center;
}

